.backLink {
  display: block;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.poster {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #e5e5e5;
}

.infoContainer {
  display: flex;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sectionTitle {
  font-weight: 500;
  font-size: 20px;
}

.additionalInfo {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
